{% extends "layout/back.html" %}
    {% block main %}
    <h1 class="mt-4">修改成績</h1>
    <form action="/edit2/{{ data2.id }}" method="post" onsubmit="return Checksubmit2();">

    <table style="width: 1000px;">
        <tr style="height: 60px;">
            <td>
                <h5><label class="form-label" for="number">學號</label></h5>
            </td>
            <td>
                <input id="number" class="form-control " name="number" style="width:500px" value="{{ data2.number }}"/>
            </td>
        </tr>
    
    <tr style="height: 60px;">
        <td>
            <h5><label class="form-label" for="date">學期</label></h5>
        </td>
        <td>
            <input id="date" class="form-control " name="date" style="width:500px" value="{{ data2.date }}"/>
        </td>
    </tr>

    <tr style="height: 60px;">
        <td>
            <h5><label class="form-label" for="hours">科目</label></h5>
        </td>
        <td>
            <input id="hours" class="form-control " name="hours"  style="width:500px" value="{{ data2.hours }}"/>
        </td>
    </tr>

    <tr style="height: 60px;">
        <td>
            <h5><label class="form-label" for="money">成績</label></h5>
        </td>
        <td>
            <input id="money" class="form-control " name="money" type="money"  style="width:500px" value="{{ data2.money }}"/>
        </td>
    </tr>
<!--
    <tr style="height: 60px;">
        <td>
            <h5><label class="form-label" for="note">備註</label></h5>
        </td>
        <td>
            <input id="note" class="form-control " name="note" type="note"  style="width:500px" value="{{ data2.note }}"/>
        </td>
    </tr>
-->
    
    </table>
    <div style="width: 725px;" align="center">
        <a type="button" class="btn btn-outline-secondary" href="/users2">返回</a>
        <button type="submit" class="btn btn-primary">送出修改</button>
    </div>
</form>
    
{% endblock main %}