{% extends "layout/layout.html"%}
{% block title %} 首頁 {% endblock title %}

{% block content %}


<div class="container">
  <div class="row mt-3">
    <div class="col-6 mt-3">
      <div class="card" style="width: 35rem;">
        <h1 style="text-align: center;">題目標題</h1>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div style="text-align:center">
            <a href="html/about.html" class="btn btn-info">Go somewhere</a>
          </div>

        </div>
      </div>
    </div>>

    <div class="col mt-3">
      <div class="card" style="width: 35rem;">
        <h1 style="text-align: center;">題目標題</h1>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div style="text-align: center;">
            <a href="html/about.html" class="btn btn-primary">Go somewhere</a>
          </div>

        </div>
      </div>
    </div>


  </div>

</div>

{% endblock%}