{% extends "layout/layout.html"%}
{% block title %} 註冊 {% endblock title %}
{% block content %}
<div class="container mt-5" style="width: 800px;">

  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      
        <div class="text-center mb-3">
          <h3>帳號註冊</h3>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
  
        
        <form action="/ap" method="post" onsubmit="return Checksubmit()">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input id="account" class="form-control form-control-lg" name="account" />
          <label class="form-label" for="loginName">Email or username</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="loginPassword" class="form-control" name="password"/>
          <label class="form-label" for="loginPassword">Password</label>
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
          </div>
  
        <!-- Submit button -->
        <div style="text-align:center;">
          <button type="submit" class="btn btn-primary btn-block mb-5">Sign in</button>
        </div>
      
    </div>
    
      </form>
    </div>
  </div>
</div>
  <!-- Pills content -->




{% if type =="註冊成功" %}
    
  <script>
      Success('{{type}}','註冊成功');
  </script>

{%elif type =="此帳號已存在"%}

<script>
Swal.fire({
icon: 'error',
title: '{{type}}',
text: '{{type}}'
})
</script>
{% endif %}

  {% endblock%}